*,html,body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
a{

    text-decoration: none;

}
li{
    list-style: none;
}
html,body{
    
    height: 100%;
}
button{
    /* padding: 14px 20px;
    margin: 8px 0; */
    border: none;
    cursor: pointer;
    background: transparent;
}

.submit-btn {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
.cancelbtn{
    width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.psw{
    float: right;
  padding-top: 16px;
}
.container{
    height: 100%;
}
.login-header{
    height: 80px;
}
.from-wrapper{
    height: calc(100% - 80px);
}
.img-wrapper img{
    height: 80px;
    width: 80px;
}
.user-login-form{
    width: 35%;
    margin: auto;
}
.img-wrapper{
    display: block;
    width: 25%;
    margin: auto;
    text-align: center;
}
input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
#loader{
    width: 2rem;
    height: 2rem;
    border: 5px solid royalblue;
    border-top: 6px solid rosybrown;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;

}
@keyframes spin {
    from {
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
    }
}
#loader.display{
    visibility: visible;
}
.display-none{
    display: none;
}
.display-block{
    display: block !important;
}
.dashboard-header{
    height: 88px;
    border-bottom: 1px solid #e7e2e2;
}
.dashboard-text-btn{
    float: left;
    width: 250px;
    height: 100%;
}
.dashboard-text-btn h2{
    display: inline-block;
    margin: 20px;
}
.dashboard{
    height: 100%;
    display: none;
}

.dashboard-left-area{
    margin-left: 250px;
    text-align: center;
    height: 100%;
   
    /* display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center; */
}
.menu img{
    width: 50px;
}
.dashboard-menu{
    float: right;
    width: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.dashboard-header-text{
    /* margin-top: 20px; */
    height: 100%;
    display: inline-block;
}
.dashboard-header-text h1{
    margin-top: 20px;
}
.dropDown-content{
    
    display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 70px;
  text-align: center;
}
.dropDown-content a{
    color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropDown-content a:hover {
    background-color: #ddd
}
.bottom-container{
    height: calc(100% - 88px);
}
.navigation-wrapper{
    float: left;
    width: 250px;
    border-right: 1px solid #ebebeb;
    height: 100%;
}
.user-image{
    margin-left: 40px;
    margin-top: 15px;
    display: inline-block;
}
.user-details{
    float: right;
    margin: 5px;
}
.user-details h3,p{
    margin: 2px;
}
.user-info{
    height: 110px;
}
.nvabar-wrapper{
    height: calc(100% - 110px);
}
.nav-content{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
.navbar{
    height: 100%;
}
.nav-link{
    color: #3b3c3b;
    font-size: 25px;
}
.dashboard-content{
    height: 100%;
    margin-left: 250px;
}
.item-table{
    border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
  text-align: center;
}